<h1>Sections#new</h1>
<p>Find me in app/views/sections/new.html.erb</p>

<%= form_for(@section) do |f| %>
    <table summary="section form fields">
        <tr>
            <th>Name</th>
            <td><%= f.text_field(:name) %></td>
        </tr>
        <tr>
            <th>Position</th>
            <td><%= f.text_field(:position) %></td>
        </tr>
        <tr>
            <th>Visible</th>
            <td><%= f.text_field(:visible) %></td>
        </tr>
    </table>
    <%= f.submit("Create section") %>

<% end %>