<% @page_title = "All Subjects" %>

<%= 30.days.from_now.to_s(:long) %>
<h1>Subjects#index</h1>
<p>Find me in app/views/subjects/index.html.erb</p>

<%= link_to("Add New Subject", new_subject_path, :class => 'action new') %>
<% @subjects.each do |s| %>
    <%= s.position %>
    <%= s.name %>
    <%= link_to("Edit", edit_subject_path(s)) %>
    <%= link_to("Delete", delete_subject_path(s)) %>
<% end %>